{% extends 'base.html' %}
{% load static %}

{% block body %}
  <div class="container">
    <h1 class="mb-5 " style="text-align: center;">Архив</h1>
    <div class="d-flex justify-content-between align-items-center mb-5 flex-wrap">
        <form class="search d-flex flex-row align-items-center flex-wrap" action="{% url 'archive_sort' %}" method="get">
            <select value="" required style="height: 38px; background-color: transparent; margin-right: 10px; boreder-radius: 5px;" name="choice">
              <option disabled selected value="">
                Поле для сортировки:
              </option>
              <option value="name">Название документа</option>
              <option value="number">Номер документа</option>
              <option value="load_date">Дата добавления</option>
              <option value="change_date">Дата выполнения</option>
            </select>
            <select value="" required style="height: 38px; background-color: transparent; margin-right: 10px; boreder-radius: 5px;" name="up_down">
              <option disabled selected value="">
                Сортировать по:
              </option>
              <option value="up">Возрастанию</option>
              <option value="down">Убыванию</option>
            </select>
            <button type="submit" class="btn btn-success ml-2">Сортировать</button>
</form>
        <form class="search d-flex flex-row align-items-center flex-wrap" action="{% url 'archive_filter' %}" method="get">
            <select required style="height: 38px; background-color: transparent; margin-right: 10px; boreder-radius: 5px;" name="choice">
              <option disabled selected value="">
                Фильтр/Поиск по:
              </option>
              <option value="name">Названию документа</option>
              <option value="user_fio">ФИО пользователя</option>
              <option value="number">Номеру документа</option>
            </select>
            <input required name="q" style="height: 38px; border-radius: 5px; padding: 0 10px;">
            <button type="submit" class="btn btn-success ml-2">Поиск</button>
        </form>
    </div>
    {% if error_message %}
      <div class="d-flex justify-content-between align-items-center mb-5">
           <h3 style="color: red;">
               {{ error_message }}
           </h3>
     </div>
    {% endif %}

    <table class="table-responsive  table-striped">
        <thead>
            <tr>
              <th scope='col'>
                Номер документа
              </th>
              <th scope='col'>
                Название документа
              </th><th scope='col'>
                От кого
              </th>
              <th scope='col'>
                Кому
              </th>
              <th scope='col'>
                Цель документа
              </th>
              <th scope='col'>
                Файл
              </th>
              <th scope='col'>
                Дата добавления
              </th>
              <th scope='col'>
                Срок выполнения
              </th>
            </tr>
        </thead>
        <tbody>
            {% for doc in documents %}
              <tr>
                <th scope="row">{{ doc.number }}</th>
                <td>{{ doc.name }}</td>
                <td>
                    От: {{ doc.user_from.first_name }} {{ doc.user_from.last_name }}
                </td>
                <td>
                    Кому: {{ doc.user_to.first_name }} {{ doc.user_to.last_name }}
                </td>
                <td>
                    {% if doc.action == 'read' %}
                        Ознакомление
                    {% elif doc.action == 'submited' %}
                        Подпись
                    {% endif %}
                </td>
                <td><a href="{{ doc.file.url }}">файл</a> </td>
                <td>{{ doc.load_date }}</td>
                <td>{{ doc.ending_date }}</td>
              </tr>
            {% endfor %}
        </tbody>
  </table>

  </div>
{% endblock body %}
