{% extends 'base.html' %}
{% load static %}

{% block body %}
   <div class="container">
        <h1> Справка о программе.</h1>
       <br><br>
           <h3>Навигационная панель и авторизация</h3><br>
            <p style="font-size: 22px">
                Сверху расположена навигационная панель.
                Для получения доступа ко всем инструментам приложения необходима авторизация.
                По  <a href="{% url 'signup' %}">ссылке</a> можно создавать новых пользователей. Если пользователь впервые зашел в данное
                приложение, то необходимо создать личный аккаунт. Очень важно не допускать разглашения данных от аккаунта. Т.к. в
                данном приложение присутствует функция электронной подписи. Это опасно, потому что злоумышленник, сможет подписывать за
                вас документы, которые вы возможно даже и не хотели подписывать.
                По ссылке <a href="/admin">административная панель</a> можно попасть в стандартную административную панель. Туда может попасть только администратор.
                Приведенная административная панель является стандартной панелью Django. В ней пользователь получает доступ как к документам,
                так и к пользователям и может их редактировать и удалять. С помощью нее, сотрудники службы поддержки могут разрешить проблемы, возникшие с вашими документами.
            </p>
       <br>
       <br>
            <h3>Страница "Входящие"</h3><br>
            <p style="font-size: 22px">
                На данной странице отображаются все входящие документы, на подпись или ознакомление.
                Если документ на подпись, то его можно подписать, или отказаться от подписи, нажав соответствующую кнопку.
                Есди документ на ознакомление, то его нужно скачать, нажав на ссылку "файл", выделенную синим цветом,
                ознакомиться и подтвердить ознакомление, нажав кнопку
                "Отметить прочитанным"
            </p>
            <ol style="font-size: 22px">
                <li> <b>Фильтр/Поиск.</b> Для осуществления фильтрации/поиска по таблице, необходимо выбрать поле по которому
                    будет осуществляться фильтр и ввести значение фильтра.
                </li>
                <li><b>Сортировка.</b> Для осуществления сортировки, необходимо выбрать поле по которому будет сделана сортировка и направление
                    сортировки (возрастание, убывание).
                </li>
            </ol>
       <br><br>
            <h3>Страница "Исходящие"</h3><br>
            <p style="font-size: 22px">
                На данной странице Исохдящие, находятся исходящие документы, которые отправил пользователь. В случае, если документ
                уже перестал быть необходим, его можно отправить в архив, нажав соответствующую кнопку. Или удалить безвозвратно.
            </p>
            <ol style="font-size: 22px">
                <li>
                    <b>Кнопка "создать".</b> Перебрасывает на страницу добавления нового документа. На данной странице необходимо
                    заполнить поля для создания документа, Поля помеченные * являются обязательными. Поле номер документа, является
                    числовым, кроме цифр туда ничего не запишется.
                </li>
                <li>
                    <b>Создать отчет.</b> Для создания отчета необходимо выбрать дату за которую будет создаваться отчет и нажать кнопку создать
                    отчет, если за эту дату
                    не было создано документов, то на странице появится предупреждение, о том, что за эту дату отчет создать нельзя.
                </li>
                <li> <b>Фильтр/Поиск.</b> Для осуществления фильтрации/поиска по таблице, необходимо выбрать поле по которому
                    будет осуществляться фильтр и ввести значение фильтра.
                </li>
                <li><b>Сортировка.</b> Для осуществления сортировки, необходимо выбрать поле по которому будет сделана сортировка и направление
                    сортировки (возрастание, убывание).
                </li>
            </ol>
       <br><br>
            <h3>Страница "Архив"</h3><br>
            <p style="font-size: 22px">
                На данной странице Архив, находятся документы, которые были добавлены в архив. У каждого пользователя свой
                собственный архив. На данной странице можно скачать документ, для дальнейшего его использования.
            </p>
            <ol style="font-size: 22px">
                <li> <b>Фильтр/Поиск.</b> Для осуществления фильтрации/поиска по таблице, необходимо выбрать поле по которому
                    будет осуществляться фильтр и ввести значение фильтра.
                </li>
                <li><b>Сортировка.</b> Для осуществления сортировки, необходимо выбрать поле по которому будет сделана сортировка и направление
                    сортировки (возрастание, убывание).
                </li>
            </ol>
   </div>
{% endblock body %}